.intro-text-container {
  height: 100%;
  #background {
    position: relative;
    .intro-text {
      position: absolute;
      top:0;
      height: 100%;
      width: 100%;
      z-index: 2;
      span {
        font-size: 7em;
        display: block;
        text-align: center;
        &.title {
          margin-top: 80px;
        }
        &.year {
          position: absolute;
          bottom: 0;
          width: 100%;
        }

      }
    }
  }
}

.about-section {
  min-height: 100%;
  padding: 70px 0px 0 60px;
  font-size: 2em;
  p {
    margin-bottom: 50px;
    text-align: justify;
    line-height: 1.4em;
  }
}

.map-section {
  height: 80%;
  min-height: 80%;
  margin-bottom: 30px;
  overflow: auto;
  #map {
    height: 100%;
  }
  .marker-legend-container {
    padding: 20px 50px;
    img, p {
      float:left;
    }
    img {
      margin-right: 20px;
      width: 30px;
      height: 30px;
    }
    font-size: .8em;
  }
}


.footer {
  background-color: $bg-grey;
}

@media (max-width: 768px) {
  .intro-text-container {
    #background {
      .intro-text {
        span {
          font-size: 4em;
          &.title {
            margin-top: 160px;
          }
          &.year {
            margin-top: 30px;
            position: relative;
          }
        }
      }
    }
  }

  .about-section {
    min-height: 100%;
    padding: 160px 0px 0 0;
    font-size: 1em;
    p {
      margin-bottom: 50px;
      text-align: justify;
      line-height: 1.4em;
    }

  }
}