.navbar {

  // ---------------
  // Toggle mobile burger for any screen
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-collapse.collapse.in{
    display:block !important;
  }
  // ----------------

  background-color: $white;
  border-radius: 0;
  border:0;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 200;
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-header {
    background-color: $white;
    height: 63px;
    button.navbar-toggle {
      float: left;
      border:0;
      padding: 12px 10px;
      margin-right: 15px;
      .icon-bar {
        background-color: $black;
      }
      &:hover, &:focus {
        background-color: $white;
      }
    }
    .header-links-container {
      padding-top: 4px;
      display: table;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      p {
        display: inline-block;
      }
      .header-title {
        margin-top: 14px;
        &:last-of-type {
          padding-right: 10px;
        }
        &.tito-container{
          position: absolute;
          right: 15px;
          .tito-tickets-button {
            background-color: white;
            border:0;
            padding: 0;
            text-decoration: underline;
          }
        }

      }
    }
  }
  .navbar-collapse {
    padding-left: 51px;
    border-top: 1px solid black;
    .navbar-nav {
      li.nav-item {
        display: inline-block;
        margin-left: 22px;
        padding: 22px 0;
        a {
          color: $black;
          padding:0;
          &:active {
            text-decoration: underline;
          }
        }
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}


@media (max-width: 768px ) {
  .navbar {
    .navbar-header {
      height: 105px;
      button.navbar-toggle {
        margin: 0;
      }
      .header-links-container {
        display: table;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        .info-container {
          .header-title {
            margin-top: 0;
          }

        }
        .header-title {
          display: block;
          text-align: left;
          padding-left: 55px;
          margin-top: 3px;

          &.tito-container{
            position: relative ;
            right: 0 ;

            .tito-tickets-button {
              background-color: white;
              border:0;
              padding: 0;
              text-decoration: underline;
            }
          }
        }
      }
    }
    .navbar-collapse {
      padding-left: 0;
      .navbar-nav {
        li.nav-item {
          display: block;
          margin-left: 0 ;
          width: 100%;
          text-align: center;
          padding: 5px 0 ;
        }
      }
    }
  }
}
